{% extends "base.html" %} {% block title %}Optimizer Input{% endblock %}
{% block content %}

<h1 align="center">Optimizer</h1>
<br>
<br>

<h1 align="center">
	Select your desired equation then select your desired variable and objective type.
</h1>

<br>
<br>

<body style="text-align: center">
	<form method="POST">
		{{ form.crsf_token }}
		<label>Equation Name:</label>
		{{ form.equation }}
		<label>Variable:</label>
		{{ form.variable }}
		<label>Objective:</label>
		{{ form.objective }}
		<input type="submit">
	</form>
	<script>
		let equation_select = document.getElementById('equation');
		let variable_select = document.getElementById('variable');

		equation_select.onchange = function() {
			equation = equation_select.value;

			fetch('/variable/' + equation).then(function(response) {
				response.json().then(function(data) {
					let optionHTML = '';

					for (let variable of data.variables) {
						optionHTML += '<option value="' + variable.id + '">' + variable.var + '</option>';
					}

					variable_select.innerHTML = optionHTML;

				});
			});
		}
	</script>
</body>


{% endblock %}