{% extends "base.html" %} {% block title %}Simulator Input{% endblock %}
{% block content %}

<h1 align="center">Simulator</h1>
<br>

<body style="text-align: center">
	<form method="POST">
		{{ form.crsf_token }}
		<label>Variable Name:</label>
		{{ form.variablename }}
		<label>Variable Value:</label>
		{{ form.variablevalue }}
		<label>Target:</label>
		{{ form.target }}
		<input type="submit">
	</form>
	<script>
		let variablename_select = document.getElementById('variablename');
		let target_select = document.getElementById('target');

		variablename_select.onchange = function() {
			variablename = variablename_select.value;

			fetch('/target/' + variablename).then(function(response) {
				response.json().then(function(data) {
					let optionHTML = '';

					for (let target of data.targets) {
						optionHTML += '<option value="' + target.id + '">' + target.tar + '</option>';
					}

					target_select.innerHTML = optionHTML;

				});
			});
		}
	</script>
</body>

{% endblock %}