{% extends "base.html" %} {% block title %}Y Variables Input{% endblock %}

{% block content %}

<h1 align="center">Y Variables</h1>

<br>
<br>

<h1 align="center">
	Please enter your desired y variable for each file uploaded then press submit. Please be patient as this process may take some time. If the page seems stuck it is not, it is just processing your uploaded data.
</h1>

<br>
<br>

<p style="text-align: center">{{msg}}</p>

<form action="/yvariables" method="POST" role=form align="center">
	<center>{{ form.hidden_tag() }}

	{% for file in form.a2 %}
		{{ file.lable }} {{ file }}<br>
	{% endfor %}

	{{ form.s }}</center>

</form>

{% endblock %}